<div ng-controller="initctrl"><h1>HOMEPAGE</h1>
<fieldset >
        <legend>Login</legend>
        <div style="text-align:center">

           USERNAME: <input type="text"  ng-model="UserName" placeholder="Enter the LoginID" >
            <br>
            <br>
           PASSWORD: <input type="text" ng-model="Password" placeholder="Enter the Password" >
            <br>
            <br>
            <button type="submit" ng-click="submit()">Login</button>
        </div>
    </fieldset>
</div>
